.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item1, .item3 {
    grid-row: span 2;
    height: 400px;
}
.item{
    border-radius: 10px;
}
/* .item3 {
    grid-row: span 2;
    height: 100%;
} */